[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "torch"

[packages]
torch = {version = "*", index="torch"}
torchvision = {version = "*", index="torch"}
torchaudio = {version = "*", index="torch"}
requests = "*"
typing = "*"
flask = "*"
flask-cors = "*"
google-cloud-vision = "*"
gunicorn = "*"
numpy = "*"
ultralytics = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
isort = "*"
black = "*"
mypy = "*"
flake8 = "*"
pre-commit = "*"
types-requests = "*"
requests-mock = "*"
nose = "*"

[requires]
python_version = "3.10.8"
