[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
typing = "*"
flask = "*"
flask-cors = "*"
google-cloud-vision = "*"
gunicorn = "*"
numpy = "*"
ultralytics = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
isort = "*"
black = "*"
mypy = "*"
flake8 = "*"
pre-commit = "*"
types-requests = "*"
requests-mock = "*"
nose = "*"
"pytest.mock" = "*"
pytest-mock = "*"

[requires]
python_version = "3.10.8"
